@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
.App {
   text-align: center;
}
.main {
   display: flex;
   flex-direction: column;
}

.navbar {
   display: flex;
   justify-content: space-between;
   padding: 2%;
}

.cta {
   background: top / cover no-repeat url("./Assets/Pizza.jpg");

   height: 50vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.cta-2 {
   background: top / cover no-repeat url("./Assets/Pizza.jpg");

   height: 30vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.homemain {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   justify-self: center;
   align-self: center;
}
.pizzacard {
   width: 25vw;
   min-width: 300px;
   margin: 2%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
